body{
    background-image: -webkit-radial-gradient(
        center,
        blue 0%,
        red 30%,
        green 80%,
        yellow 100%
        /* todo esto es para hacer un fondo con colores distorcianados entre si depende del % hay mas o menos distrocion o color */
    );
    /* esto para que lo que hicimos no se repita y se muestre una vez */
    background-attachment: fixed;
    /* background: linear-gradient(120deg,#d4fc79,#96e6a1 100%); */
    /* esta linea es para distorsionar colores de fondo de mi pagina */
}
#contenido{
    max-width: 1100px;
    margin: 0 auto;
    background: #fff ;
    margin-top: 60px;
    padding: 10px;
    /* todo esto para crear una tabla de contenido de todo lo que tenemos */
}
.paddings{
   box-sizing: border-box;
   /* el box sizing evita que un elemento se desconfigure */
    height: 100px;
    width: 300px;
    background-color: cornflowerblue;
    color: #fff;
    padding: 50px;
/* este color blanco es para cambiar la letra a blanco */
/* tpdp estp es para hacer una caja azul a todo lo que tiene la clase paddings */
}
.border{
    box-sizing: border-box;
      height: 100px;
    width: 300px;
    background-color: rgb(221, 85, 22);
    color: #fff;
    border: 50px solid cornflowerblue ;
}