body{
    background-color:rgb(228, 224, 20);
}
#tabla{
 
background-color: #fff;
color: black;
width: 885px;

margin: 15px auto;
/* margin para centrar la tabla */
}
table{
    border: 3px  black;
    width: 400px;
    text-align: center;
    /* para que el color este igual al tama;o de la tabla */
}

img{
    height: 150px;
    width: 270px;
    padding: 5px;
border: 2px solid silver;
border-radius: 20px;

}
img:hover{
    box-shadow: #005 4px 2px 2px;
}
input:disabled{
    background: gray;
    color: white;
    cursor: not-allowed;
}
.imagen2{

    width: 1000px;
    float: left;
}
/* .ima{
padding: 5px;
border: 2px solid silver;
border-radius: 20px;
} */

/*  */


/* 
td{
    border: 4px solid black;
} */

/* este td es para las lineas horizontales de las tablas*/

