body{
    background-color:rgb(255, 164, 164);
}
#tabla{

background-color: #fff;
color: black;
width: 844px;

margin: 15px auto;
/* margin para centrar la tabla */
}
table{
    border: 3px  black;
    width: 400px;
    text-align: center;
    /* para que el color este igual al tama;o de la tabla */
}

img{
    height: 150px;
    width: auto;
}
td{
    border: 4px solid black;
}
/*  */

.boton{
   width: 400px;
      height: 80px;
      text-align: center;
      font-size: 40px;
      text-transform: uppercase;
}


    .boton-comprar {
      
      width: 400px;
      height: 80px;
      text-align: center;
      font-size: 40px;
      text-transform: uppercase;
      /* mayusculas */
    }
    .contener-boton {
      text-align: center;
      /* centrar boton y el texto de adentro */
    }


    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      color: red;
    }
    input {
      font-size: 30px;
      /* tamaño de letra */
    }
    h1 {
      text-transform: uppercase;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 30px;
      color: red;
      text-align: center;
    }
    #imgProductos {
      border: 1px solid black;
    }
footer{
    width: 100%;
    height: 150px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}
.footer{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
}




/* corte */
/* 
 */
*{
    margin: 0;
    padding: 0;
}
header{
 
    width: 100%;
    top: 0;
    z-index: 100;
}
header nav{
    width: 100%;
    margin: 0;
    background: black;
    padding: 2px;
    box-sizing: rgb(232, 215, 217);
}
.menu_bar{
    display: none;
}
header nav ul{
    list-style: none;
    margin-left: 300px;
}
.children{
margin-left: 0;
}
header nav ul li{
    display: inline-block;
    position: relative;
}
header nav ul li a{
    text-align: center;
    color: aliceblue;
    padding: 20px;
    display: block;
    text-decoration: none;
    /* esto es para quitar el subrayado de los enlaces */
    margin-right: 15px;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 1px rgba(0, 0,0, 0.1);
}
i{
    padding: 15px;
    margin-right: 15px;
}
header nav ul li a:hover{
box-shadow: 0px 0px 8px bisque ;

}

#logo{
    padding: 2px;
    position: absolute;
}
header nav ul li .children{
    display: none;
    position: absolute;
    z-index: 101;
    background-color: rgba(33, 31, 31, 0.8)
}
header nav ul li:hover .children{
    display: block;
}
header nav ul li .children a{
    text-align: left;
    width: 100%;
    
}
@media screen and (max-width:800px){
  
/* corte */
header nav{
    top: 70px;
    width: 70%;
    position:fixed;
}
header nav ul{
    margin-left:5px;
}
#logo{
    display:none;
}
header nav ul li{
    display: block;
    float:none;
    border-bottom: 1px solid rgb(255, 249, 249);
}
header nav ul li a{
    text-align: left;
    width:90%;
}
header nav ul li .children{
    width: 90%;
    position: relative;
}
.menu_bar {
    display: block;
    width: 100%;
    color: #ff8;
    position: fixed;
    top: 0;

}
.menu_bar .bt_menu {
    display: block;
    padding: 20px;
    background-color: rgba(0, 0, 0, .9);
    color: #ff8;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.menu_bar i{
   float: right;
   font-size: 30px;
   margin-top: 5px;
   cursor: pointer;
   margin-right: 15px;
}
}

.logo-menu{
   width: 100px !important;
   height: 60px !important ;
   
}
@media screen and (max-width:800px){

#tabla{
margin-top: 20%;
background-color: #fff;
color: black;
width: 570px;

/* margin: 15px auto; */
/* margin para centrar la tabla */
}
table{
    border: 3px  black;
    width: 200px;
    text-align: center;
    /* para que el color este igual al tama;o de la tabla */
}

img{
    height: 100px;
    width: auto;
}
td{
    border: 4px solid black;
}
/*  */

.boton{
   width: 210px;
      height: 80px;
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
}


    .boton-comprar {
      
      width: 210px;
      height: 80px;
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
      /* mayusculas */
    }
    .contener-boton {
      text-align: center;
      /* centrar boton y el texto de adentro */
    }


    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: red;
    }
    input {
      font-size: 20px;
      /* tamaño de letra */
    }
    h1 {
      text-transform: uppercase;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 20px;
      color: red;
      text-align: center;
    }
    #imgProductos {
      border: 1px solid black;
    }
footer{
    width: 100%;
    height: 150px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}
.footer{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
}





}